body {
  width: 100%;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  padding: 0;
  z-index: 10;
  display: block;
  background: black;
  color: white;
  box-sizing: content-box;
  top: 0;
}

/*----------------------Stylesheet for HEADER-------------------------*/
.header-top {
  padding: 5px 0px 5px 0px;
  position: relative;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: content-box;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: row;
}
.titre {
  width: 40%;
  padding: 1px 10px 1px 10px;
  margin: 10px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.menu {
  padding: 20px;
  margin: 20px;
  word-spacing: 20px;
  font-size: 15px;
}

.item_txt {
  padding: 5px;
  margin: 10px;
  font-style: oblique;
  text-decoration: beige;
}

/*----------------------Stylesheet for HOME Page-------------------------*/
.container-section {
  padding: 0;
  margin: 0;
  position: relative;
  border: 0;
}

.container-section-inner {
  padding: 10px;
  margin: 10px;
  position: relative;
  border: 0;
}
.products {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 20px;
  position: absolute;
  text-align: center;
}
.product-box {
  margin: 5px 10px;
  padding: 5px;
  border-bottom: black 1px solid;
  display: grid;
  grid-template-columns: 50% 15% 15% 20%;
}
.product-box img {
  width: 100px;
  height: 150px;
}
.box-title {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.product-item {
  display: flex;
  padding: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}
.price-unit {
  text-align: center;
  margin-top: 50px;
}
.quantity {
  text-align: center;
  margin-top: 50px;
}
.quantity > input {
  margin-top: 8px;
  width: 26px;
  height: 26px;
  border: 1px black solid;
  border-radius: 5px;
  text-align: center;
}
.quantity > button {
  margin-top: 8px;
  width: 30px;
  height: 30px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: #fff;
}
.options {
  margin-top: 50px;
  text-align: center;
  word-spacing: 10px;
}
.total-price {
  margin: 20px;
  padding: 10px;
  border-top: solid 1px black;
  border-bottom: black solid 1px;
  position: relative;
  float: right;
}
